.grip{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 20px; /* Espacio entre columnas y filas */
    padding: 20px;
  }
.card-songs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    background-color: #1a1a1a9d;
    border: 1px solid  #00bfff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    
}

.imagen-listado{
    width: 100%;          
    height: auto;         
    max-width: 250px;     
    border-radius: 10px; 
    margin: auto;
}
.text-card{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-block-start: 1rem;
    font-weight: bolder;
}

.artist-name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.text-favorite{
    grid-column: 2 / 4;
    grid-column-start: 2;
    padding-block-start: 2rem;
}

@media (width < 1250px) {
    .grip{
        grid-template-columns: repeat(3, 1fr); 

      }
      .text-favorite{

        grid-column-start: 1;
 
    }
  }
  
  @media (width < 860px) {
    .grip{
        grid-template-columns: repeat(2, 1fr); 

    }
    .text-favorite{

        grid-column: 1 / 3;
 
    }

  }
  
  @media (width < 500px) {
    .grip{
        grid-template-columns: repeat(1, 1fr); 


    }
  }