@import "./style/reset.css";
@import "./style/styleLogin/styloLogin.css";
@import "./style/styleMenuOptions.css";


#root {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* padding-block: 6rem; */

  text-align: center;
  background-color: #1a1a1a;
  
}
.contenedor-pages{
    padding-block: 6rem;

}


